
.formPet {
      width: 80%;
      margin: auto;
      display: flex;
      justify-content: center;
      flex-direction: column;
}

.formPet input[type="submit"] {

      padding: 10px 10px;
      font-size: 1.2rem;
      width: 90%;
      border: none;
      border-radius: 5px;
      background-color: #4caf50;
      color: white;
      cursor: pointer;
      transition: all 0.5s;
      text-align: center;
      margin: 0 auto;
      margin-top: 2rem;


}

.previewInfo {
      display: flex;
      justify-content: center;
}

.previewInfo img {
      width: 150px;
      margin-right: 1em;
      border-radius: 70px;
      border: 3px solid royalblue;
}


